pkgbase = bottles-native-arch
	pkgdesc = Latest upstream Bottles, packaged natively for Arch Linux
	pkgver = 66.6
	pkgrel = 13
	epoch = 2
	url = https://github.com/bottlesdevs/Bottles
	arch = any
	license = GPL-3.0-only
	makedepends = appstream-glib
	makedepends = blueprint-compiler
	makedepends = desktop-file-utils
	makedepends = gettext
	makedepends = glib2-devel
	makedepends = gobject-introspection
	makedepends = meson
	makedepends = ninja
	depends = fvs2
	depends = gtk4
	depends = gtksourceview5
	depends = hicolor-icon-theme
	depends = icoextract
	depends = libadwaita
	depends = libportal-gtk4
	depends = patool
	depends = python
	depends = python-cairo
	depends = python-certifi
	depends = python-chardet
	depends = python-charset-normalizer
	depends = python-gobject
	depends = python-idna
	depends = python-markdown
	depends = python-orjson
	depends = python-pathvalidate
	depends = python-pefile
	depends = python-pycurl
	depends = python-pysocks
	depends = python-requests
	depends = python-urllib3
	depends = python-yaml
	depends = python-yara
	depends = umu-launcher
	depends = vkbasalt-cli
	optdepends = gamemode: launch games with temporary Feral GameMode optimizations
	optdepends = gamescope: gamescope session integration
	optdepends = imagemagick: icon/image conversion
	optdepends = mangohud: performance overlay
	optdepends = system76-scheduler: experimental foreground scheduling backend for UMU games
	optdepends = vmtouch: preload bottle files into memory
	optdepends = vulkan-tools: vkcube test and Vulkan information
	optdepends = xorg-xdpyinfo: display information detection
	optdepends = xterm: fallback terminal for Run executable in terminal
	provides = bottles=66.6
	conflicts = bottles
	source = Bottles-66.6.tar.gz::https://github.com/bottlesdevs/Bottles/archive/refs/tags/66.6.tar.gz
	source = native-arch.patch
	source = verify-source.sh
	source = system76-pipewire-workaround.sh
	sha256sums = f6f9ed5c414307bf55ce534f2e3c25fc36625b323b4b7887e08c0182a12861ce
	sha256sums = bfa3e1cad94b791a8ba9facd7ba08b198368e6c3384a0c94f13e895f4d8cb744
	sha256sums = 231aa8c036517984f4d67832b961e700bc35516ddc1baecdfbf34c877176119b
	sha256sums = df33a555ec11517841667948c8f2702719bd5d3887ee012efd73703661235d2a

pkgname = bottles-native-arch
